body{

    line-height: 1.5rem;
    background: var(--light-color);
    background: url(./img/img.jpg) no-repeat center center/cover;

}
.container{


width: 1328px;
height: 86px;
left: 42px;
top: 43px;

}
.container h2{
position: absolute;
width: 302px;
height: 86px;
left: 0px;
top: 0px;

font-family: Cursive;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}
.container p{
position: absolute;
width: 582px;
height: 50px;
left: 360px;
top: 23px;

font-family: Sarabun;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
text-align: center;

color: #FFFFFF;


}
.box{
display:flex;
justify-content: center;
position: absolute;
width: 983px;
height: 51px;
top: 161px;
}
 #lname{
 width:300px;
 border-radius:5px;
 height:20px;
 }
 #submitbutton{
 width:70px;
  border-radius:5px;
  height:25px;
 }
 #submitbutton:hover{
 background:red;
 }
 #submitbutton:active{
 border-radius:50%;
 background:blue;

 }
